
.form-controls {
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: width 0.4s ease-in-out
}

.form-controls label, input{
    padding: 2px;
    margin: 2px;
    width: 400px;
}



@media (max-width:600px) {
    .form-controls label, input{
        margin: 5px 10px 5px 10px;
    }
    .form-controls button{
        margin: 15px 10px;
    }
    .form-controls{
        width: 100%;
        margin: 20px 0 20px 0;
    }
}