
.list-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-container ul {
    list-style: none;
    padding: 0;
    width: 60%;
}

.list-item {
    margin: 10px 0 10px 0;
}

@media (max-width:600px) {
    .list-container ul {
        width: 100%;
        margin: 10px
    }
}